<!DOCTYPE html>
<html>

<head>
    <title>JSPrintManager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <style>
        table,
        textarea {
            width: 100%;
            height: 200px;
            padding: 3px;
        }

        a {
            cursor: pointer;
        }
    </style>
</head>

<body ng-app="JSPM" ng-controller="JSPMC">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="//neodynamic.com/products/printing/js-print-manager" target="_blank"><img alt="Neodynamic" src="//neodynamic.com/images/jspm-32.png">&nbsp;&nbsp;JSPrintManager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <div class="mr-auto"></div>
                <a href="https://github.com/neodynamic/JSPrintManager/" target="_blank" style="margin-right: 10px; color:#fff; font-size:32px" title="Download Source Code..."><i class="fa fa-github"></i></a>
                <span class="navbar-text" style="margin-right: 10px; color:#fff;">
                    <strong>JSPM</strong> WebSocket Status <span class="badge badge-success" ng-hide="status!='Open'"><i class="fa fa-check"></i> Open</span><span class="badge badge-danger" ng-hide="status!='Closed'"><i class="fa fa-exclamation-circle"></i> Closed!</span><span class="badge badge-warning" ng-hide="status!='BlackListed'"><i class="fa fa-times-circle"></i> This Website is Balck Listed!</span>
                </span>
            </div>
        </div>
    </nav>

    <div class="container" style="padding-top: 80px; padding-bottom: 20px">
        <div id="printJobs" ng-show="status=='Open'">
            <div class="row">
                <div class="col-md-12">
                    <h2>JSPrintManager <small><em>Print RAW Commands &amp; Known File Formats from Javascript</em></small></h2>
                    <hr />
                    <p class="small"><strong>JSPrintManager</strong> Solution allows you to print <strong>RAW Printer Commands as well as known File Formats (PDF, JPG, PNG, etc.)</strong> from Javascript right to <strong>any printer available at the client machine</strong>.</p>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-info btn-lg" ng-click="jobs.push({})"><i class="fa fa-plus"></i> Add Print Job</button>
                </div>
                <div class="col-md-9">
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <i class="fa fa-info-circle"></i> <small>You can print raw commands and files to different client printers if needed!</small>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div id="accordion">
                <job ng-repeat="cjob in jobs" job="jobs[$index]" delete="jobs.splice($index, 1)"></job>
                
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br />
                    <div style="text-align:center">
                        <button class="btn btn-success btn-lg" ng-click="print()" ng-hide="jobs.length==0"><i class="fa fa-print"></i> Print Now...</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="installJSPM" ng-show="status=='Closed'">
            <h2>Download &amp; Install JSPM Client App</h2>
            <hr />
            It seems that <strong>JSPM Client App is not installed</strong> in this machine!
            <br /><br />
            <strong>JSPM Client App</strong> is a small utility (<strong><em>without any dependencies</em></strong>) that handles all the <strong>Print Jobs</strong> and runs on <strong>Windows, Linux, Mac &amp; Raspberry Pi</strong> devices!
            <br /><br />
            <div style="text-align:center">
                <a href="//neodynamic.com/downloads/jspm" target="_blank" class="btn btn-lg btn-primary center"><i class="fa fa-download"></i> Download JSPM Client App...</a>
            </div>
            <br />
            <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> Browser needs to be restarted after package installation! Firefox-based browser must be closed (all open instances) before installing JSPM utility.</div>

        </div>
        <div id="installJSPM" ng-show="status=='BlackListed'">
            <h2>This site is blacklisted!</h2>
            <hr />
            This website is <strong>Blacklisted and cannot print through JSPrintManager</strong>
            <br /><br />
            
        </div>
        <div class="modal fade" id="alertDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><span class="badge badge-pill badge-danger"><i class="fa fa-warning"></i></span> Error</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ alertMessage }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <footer>

            <br /><br /><br /><br /><hr />
            <p>
                <a href="//neodynamic.com/products/printing/js-print-manager/" target="_blank">JSPrintManager for any Web Platform!</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <i class="icon-user"></i> <a href="//neodynamic.com/support" target="_blank">Contact Tech Support</a>
            </p>
            <p>
                Copyright &copy; 2003-
                <script type="text/javascript">
                    var theDate = new Date()
                    document.write(theDate.getFullYear())
                </script><br />Neodynamic SRL<br /><a href="//neodynamic.com" alt="Neodynamic Website" target="_blank">http://neodynamic.com</a>
            </p>

        </footer>
    </div>

    <file-formats-modal id="files-requeriments"></file-formats-modal>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="js/angular.min.js"></script>

    <script src="js/JSPrintManager.js"></script>
    <script src="js/zip.js"></script>
    <script src="js/zip-ext.js"></script>
    <script src="js/deflate.js"></script>

    <script src="components/app.js"></script>
    <script src="components/print-job.js"></script>
    <script src="components/file-formats.js"></script>

    <script>
        var app = angular.module('JSPM', ['app']);
        app.controller("JSPMC", function ($scope) {
            $scope.jobs = [];
            $scope.status = "Loading...";
            $scope.alertMessage = "";

            $scope.print = function () {
                var print_job_group = new JSPM.ClientPrintJobGroup();
                switch (JSPM.JSPrintManager.websocket_status) {
                    case JSPM.WSStatus.Closed: {
                        $scope.alertMessage = "JSPrintManager Client App is not installed or not running in this machine.";
                        $('#alertDialog').modal();
                        return;
                    }
                    case JSPM.WSStatus.BlackListed: {
                        $scope.alertMessage = "This domain is in the black list. It cannot print.";
                        $('#alertDialog').modal();
                        return;
                    }
                }
                for (var i = 0; i < $scope.jobs.length; i++) {
                    var job = $scope.jobs[i];
                    if (job.contentType == -1) {
                        $scope.alertMessage = "Print Job #" + (i + 1) + ": Please select the Content Type!";
                        $('#alertDialog').modal();
                        return;
                    }
                    var client_job = new JSPM.ClientPrintJob();
                    switch (job.printer) {
                        case "0": { //Default
                            printer = new JSPM.DefaultPrinter();
                        } break;
                        case "1": { //Printer Dialog
                            printer = new JSPM.UserSelectedPrinter();
                        } break;
                        case "2": { //Installed printers
                            if (!job.selectedPrinter) {
                                $scope.alertMessage = "Print Job #" + (i + 1) + ": Please select a printer from the list!";
                                $('#alertDialog').modal();
                                return;
                            }
                            printer = new JSPM.InstalledPrinter(job.selectedPrinter);
                        } break;
                        case "3": { //IP Ethernet
                            if (!job.networkPort) {
                                $scope.alertMessage = "Print Job #" + (i + 1) + ": Please specify the IP/Etherner printer port!";
                                $('#alertDialog').modal();
                                return;
                            }
                            if (!(job.networkIp || job.networkDns)) {
                                $scope.alertMessage = "Print Job #" + (i + 1) + ": Please specify the printer IP or DNS Name!";
                                $('#alertDialog').modal();
                                return;
                            }
                            if (!job.networkIp)
                                printer = new JSPM.NetworkPrinter(job.networkPort, null, job.networkDns);
                            else
                                printer = new JSPM.NetworkPrinter(job.networkPort, job.networkIp);
                        } break;
                        case "4": { //LPT
                            if (!job.lptPort) {
                                $scope.alertMessage = "Print Job #" + (i + 1) + ": Please specify the LPT port!";
                                $('#alertDialog').modal();
                                return;
                            }
                            printer = new JSPM.ParallelPortPrinter(job.lpt_port);
                        } break;
                        case "5": { //Serial
                            if (!(scope.serialPort || job.serialBaudRate || job.serialDataBits ||
                              job.serialParity || job.serialStopBits || job.serialFlowControl)) {
                                $scope.alertMessage = "Print Job #" + (i + 1) + ": Please specify all the Serial Port parameters";
                                $('#alertDialog').modal();
                                return;
                            }
                            printer = new JSPM.SerialPortPrinter(job.serialPort, job.serialBaudRate,
                              job.serialParity, job.serialStopBits, job.serialDataBits,
                              job.serialFlowControl);
                        } break;
                        default: {
                            $scope.alertMessage = "Print Job #" + (i + 1) + ": Please select a target printer!";
                            $('#alertDialog').modal();
                            return;
                        }
                    }
                    client_job.clientPrinter = printer;
                    if (job.contentType == 0) {
                        if (job.printerCommands)
                            client_job.printerCommands = job.printerCommands;
                        else {
                            $scope.alertMessage = "Print Job #" + (i + 1) + ": Please enter the RAW printer commands to be sent to the target printer!";
                            $('#alertDialog').modal();
                            return;
                        }
                    }
                    if (job.contentType == 1) {
                        if (job.files) {
                            for (var j = 0; j < job.files.length; j++) {
                                var print_file = new JSPM.PrintFile(job.files[j],
                                  JSPM.FileSourceType.BLOB, job.files[j].name, 1);
                                client_job.files.push(print_file);
                            }
                        }
                        else {
                            $scope.alertMessage = "Print Job #" + (i + 1) + ": Please enter the File(s) to be sent to the target printer!";
                            $('#alertDialog').modal();
                            return;
                        }
                    }
                    print_job_group.jobs.push(client_job);
                }
                print_job_group.sendToClient();
            };

            JSPM.JSPrintManager.auto_reconnect = true;
            JSPM.JSPrintManager.start();

            JSPM.JSPrintManager.onOpen = function () {
                $scope.status = JSPM.WSStatus[JSPM.JSPrintManager.websocket_status];
                $scope.$apply();
            }

            JSPM.JSPrintManager.onClose = function () {
                $scope.status = JSPM.WSStatus[JSPM.JSPrintManager.websocket_status];
                $scope.$apply();
            };

            
        });
    </script>
</body>

</html>