<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="z-index: 1080" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Client System Requeriments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr style="background-color:#ececec; font-weight:bold;color:#666">
              <td style="width:20%">File Format</td>
              <td style="width:40%">Windows Clients</td>
              <td style="width:40%">UNIX Clients</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>DOC, DOCX</td>
              <td>
                Microsoft Word is required</td>
              <td>
                LibreOffice is required</td>
            </tr>
            <tr>
              <td>XLS, XLSX</td>
              <td>
                Microsoft Excel is required</td>
              <td>
                LibreOffice is required</td>
            </tr>
            <tr>
              <td>PDF</td>
              <td>
                Adobe Acrobat or Foxit Reader is required</td>
              <td>
                Natively supported!</td>
            </tr>
            <tr>
              <td>TXT</td>
              <td>
                Notepad is required</td>
              <td>
                Natively supported!</td>
            </tr>
            <tr>
              <td>JPEG</td>
              <td>
                Natively supported!</td>
              <td>
                Natively supported!</td>
            </tr>
            <tr>
              <td>PNG</td>
              <td>
                Natively supported!</td>
              <td>
                Natively supported!</td>
            </tr>
            <tr>
              <td>BMP</td>
              <td>
                Natively supported!</td>
              <td>
                Natively supported!</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>