<div>
    <div class="card">
        <div class="card-header">
            <div class="input-group">
                <div class="input-group-prepend" data-toggle="collapse" data-target="#collapse{{job.id}}" aria-expanded="true" aria-controls="collapse{{job.id}}">
                    <label class="input-group-text" for="selectcontentType" data-toggle="tooltip" data-placement="left" title="Expand/Collapse">
                        <i class="fa fa-list-alt"></i>&nbsp;Print Job Content Type:</label>
                </div>
                <select class="custom-select" aria-describedby="selectcontentType" ng-model="job.contentType">
                    <option value="0">RAW Printer Commands</option>
                    <option value="1">Files (PDF, PNG, JPG, etc.)</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-danger" type="button" ng-click="delete()">
                        <i class="fa fa-minus" style="color: #fff"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="collapse{{job.id}}" class="collapse show" data-parent="#accordion">
            <div class="card-body">
                <div class="row" ng-show="job.contentType != -1">
                    <div class="col-md-12">
                        <strong>Target Printer</strong>
                        <select required class="form-control" ng-model="job.printer">
                            <option value="0" selected="selected">Default Printer</option>
                            <option value="1">Select one through the OS Printer Dialog</option>
                            <option value="2">Select an Installed Printer</option>
                            <option value="3" ng-hide="job.contentType==1">Use an IP/Ethernet Printer</option>
                            <option value="4" ng-hide="job.contentType==1">Use a Parallel LPT Port</option>
                            <option value="5" ng-hide="job.contentType==1">Use a Serial (RS232) Port</option>
                        </select>
                        <br />
                        <div class="small alert alert-warning">
                            <div ng-show="job.printer == 0">
                                The Printer set as Default in this machine will be used.
                            </div>
                            <div ng-show="job.printer == 1">
                                The OS Printer Dialog will be displayed at printing time!
                            </div>
                            <div ng-show="job.printer == 2">
                                Installed Printers
                                <select class="form-control" ng-model="job.selectedPrinter" ng-options="p for p in printer_list"></select>
                            </div>
                            <div ng-show="job.printer == 3">
                                <label>
                                    IP
                                    <input ng-model="job.networkIp" class="form-control" />
                                </label>
                                <label>
                                    Port
                                    <input ng-model="job.networkPort" class="form-control" />
                                </label>
                                <label>
                                    DNS Name
                                    <input ng-model="job.networkDns" class="form-control" />
                                </label>
                            </div>
                            <div ng-show="job.printer == 4">
                                <label>
                                    LPT Port
                                    <input ng-model="job.lptPort" class="form-control" />
                                </label>
                            </div>
                            <div ng-show="job.printer == 5">
                                <label>
                                    Serial Port
                                    <input ng-model="job.serialPort" class="form-control" />
                                </label>
                                <label>
                                    Baud Rate
                                    <input ng-model="job.serialBaudRate" class="form-control" />
                                </label>
                                <label>
                                    Data Bits
                                    <input ng-model="job.serialDataBits" class="form-control" />
                                </label>
                                <label>
                                    Parity
                                    <select ng-model="job.serialParity" class="form-control">
                                        <option value="0">None</option>
                                        <option value="1">Odd</option>
                                        <option value="2">Even</option>
                                        <option value="3">Mark</option>
                                        <option value="4">Space</option>
                                    </select>
                                </label>
                                <label>
                                    Stop bits
                                    <select ng-model="job.serialStopBits" class="form-control">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="3">1.5</option>
                                        <option value="2">2</option>
                                    </select>
                                </label>
                                <label>
                                    Flow control
                                    <select ng-model="job.serialFlowControl" class="form-control">
                                        <option value="0">None</option>
                                        <option value="3">XOnXOff</option>
                                        <option value="1">RTS (Request to send)</option>
                                        <option value="2">RTS XOnXOff</option>
                                    </select>
                                </label>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="row" ng-show="job.contentType == 0">
                    <div class="col-md-12">
                        <hr />
                        <strong>Enter the raw printer commands</strong>
                        <div class="alert alert-warning">
                            <small>Enter the printer's commands you want to send and is supported by the specified printer (e.g.
                                ESC/POS, ZPL, EPL, etc).
                                <br>For non-printable characters, use the JS hex notation (e.g. \x0D for carriage return, \x1B
                                for ESC)</small>
                        </div>
                        <textarea ng-model="job.printerCommands" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row" ng-show="job.contentType == 1">
                    <div class="col-md-12">
                        <hr />
                        <strong>Select the File(s) to print</strong>
                        <div class="alert alert-warning">
                            <small>Remember to check if you meet the requeriments before print files!
                                <a data-toggle='modal' data-target='#files-requeriments'
                                    href=''>Check them here...</a>
                            </small>
                        </div>

                        <hr>
                        <input fileread="job.files" type="file" multiple="multiple" class="form-control-file" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
</div>
